.palavras {
  width: 400px;
  height: 500px;
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.palavras .h1 {
  font-size: 30px;
  color: hsl(184, 70%, 91%);
}
.palavras .row-letras {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.palavras .div-input-letras {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.palavras .div-input-letras .input-letra {
  font-size: 40px;
  border: solid 5px rgba(0, 0, 0, 0.541);
  background-color: rgba(0, 0, 0, 0.315);
  width: 65px;
  height: 68px;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  color: hsl(184, 70%, 91%);
  padding: 0;
  caret-color: transparent;
}
.palavras .div-input-letras .input-letra:focus {
  outline: solid 3px rgba(137, 43, 226, 0.226);
}
.palavras .button {
  outline: none;
  width: 350px;
  background-color: rgb(63, 60, 63);
  border: none;
  color: hsl(184, 70%, 91%);
  border-radius: 10px;
  height: 25px;
  cursor: pointer;
  font-size: 15px;
}
.palavras .button:hover {
  width: 350px;
  background-color: rgb(78, 72, 78);
  border: none;
  color: hsl(184, 70%, 91%);
  border-radius: 10px;
  height: 25px;

  font-size: 15px;
}
.palavras .button:hover {
  width: 350px;
  background-color: rgb(78, 72, 78);
  border: none;
  color: hsl(184, 70%, 91%);
  border-radius: 10px;
  height: 25px;

  font-size: 15px;
}

@media (max-width: 319px) {
}

/* Para telas pequenas (320px até 480px) */
@media (min-width: 320px) and (max-width: 480px) {
  .palavras {
    width: 400px;
    height: 500px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

/* Para telas médias (481px até 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  /* Estilos para telas entre 481px e 768px */
}

/* Para telas grandes (769px até 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para telas entre 769px e 1024px */
}
