.palavras {
  width: 400px;
  height: 500px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.palavras .row-letras {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.palavras .div-input-letras {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.palavras .div-input-letras .input-letra {
  font-size: 50px;
  border: solid 5px rgba(0, 0, 0, 0.541);
  background-color: rgba(0, 0, 0, 0.315);
  width: 65px;
  height: 68px;
  text-align: center;
  border-radius: 5px;
}
