.section-msg-confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 95%;
  background-color: rgb(59, 53, 59);
}
.section-msg-confirm .h2-confirm {
  color: aliceblue;
  font-size: 40px;
  margin-top: 5px;
}
.section-msg-confirm .icon-animado {
  background-color: rgb(59, 53, 59);
  background-color: none;
  padding: 0;
  margin: 0;
}
.section-msg-confirm .icon-animado .icon {
  background-color: none;
  padding: 0;
  margin: 0;
}
.section-msg-confirm .paragrafo {
  padding: 10px;
  background-color: rgb(187, 167, 187);
  width: 100%;
  border-radius: 20px;
}
.section-msg-confirm .paragrafo .p {
  background-color: transparent;
  color: rgb(25, 0, 255);
  padding: 0;
  margin: 0;
  font-size: xx-large;
  font-weight: bold;
  color: hsl(0, 0%, 8%);
  text-align: center;
}
