.header-1 {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-1 .link {
  padding: 10px;
  border-radius: 100%;
  background-color: rgb(194, 194, 194);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.897);
  text-decoration: none;
  font-weight: bold;
}
.header-1 .link span {
  display: none;
}
.header-1 .link:hover span {
  display: inline;
}
.header-1 .link:hover {
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(194, 194, 194);
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.897);
}
.header-2 {
  position: fixed;
  top: 0;
  right: 0;

  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-2 .link {
  padding: 10px;
  border-radius: 100%;
  background-color: rgb(194, 194, 194);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.897);
  text-decoration: none;
  gap: 0.25rem;
  font-weight: bold;
}
.header-2 .link span {
  display: none;
}
.header-2 .link:hover span {
  display: inline;
}
.header-2 .link:hover {
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(194, 194, 194);
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.897);
}

@media (max-width: 319px) {
  /* Estilos para telas menores que 320px */
  body {
    font-size: 14px;
  }
}

/* Para telas pequenas (320px até 480px) */
@media (min-width: 320px) and (max-width: 480px) {
  .headertel {
    max-width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .header-1 {
    width: 50%;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
    gap: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-1 .link {
    padding: 5px;
    border-radius: 25px;
    background-color: rgb(194, 194, 194);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.897);
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
  }
  .header-1 .link span {
    display: inline;
    background-color: transparent;
  }
  .header-1 .link:hover span {
    display: inline;
  }
  .header-1 .link:hover {
    padding: 5px;
    border-radius: 25px;
    background-color: rgb(194, 194, 194);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.897);
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
  }
  .header-2 {
    width: 50%;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-2 .link {
    padding: 5px;
    border-radius: 25px;
    background-color: rgb(194, 194, 194);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.897);
    text-decoration: none;
    gap: 0.25rem;
    font-weight: bold;
    font-size: 15px;
  }
  .header-2 .link span {
    display: inline;
    background-color: transparent;
  }
  .header-2 .link:hover span {
    display: inline;
  }
  .header-2 .link:hover {
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(194, 194, 194);
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.897);
  }

  .icon-hheader {
    width: 30px;
    background-color: transparent;
  }
}

/* Para telas médias (481px até 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  /* Estilos para telas entre 481px e 768px */
  body {
    font-size: 18px;
  }
}

/* Para telas grandes (769px até 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para telas entre 769px e 1024px */
  body {
    font-size: 20px;
  }
}
