.div-header {
  position: relative;
  width: 100%;
}

.header-1 {
  position: absolute;
  left: 2%;
  top: 20px;
}
.header-2 {
  position: absolute;
  right: 2%;
  top: 20px;
}

.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: black;
  padding: 7px;
  border-radius: 50px;
  background-color: aliceblue;
}
.link span {
  display: none;
}
.link:hover span {
  display: inline;
}
.link:hover {
  background-color: rgb(201, 220, 236);
}

.icon-header {
  color: rgb(255, 82, 111);
  width: 20px;
  height: 20px;
}
