:root {
  color-scheme: light;
}
.neutra {
  width: 60px;
  height: 60px;
  background-color: rgba(121, 121, 121, 0.377);
  border: solid 1px pink;
  border-radius: 5px;
  outline: none;
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(183, 214, 253);
  text-align: center;
  align-items: center;
}
.green {
  width: 60px;
  height: 60px;
  background-color: green !important;
  border: solid 1px pink;
  border-radius: 5px;
  outline: none;
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(183, 214, 253);
  text-align: center;
  align-items: center;
}
.yellow {
  width: 60px;
  height: 60px;
  background-color: rgb(156, 156, 0) !important;
  border: solid 1px pink;
  border-radius: 5px;
  outline: none;
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(183, 214, 253);
  text-align: center;
  align-items: center;
}
